In [19]:
for num in range(10):
    if num > 0:
        print(num * 10)

SyntaxError: invalid syntax (1810673838.py, line 3)

In [4]:
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [5]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [13]:
entry = 0
sum1 = 0
print("Enter numbers to find their sum , negaetive number endsthe loop:")
while  True:
    #int()typecasts string to integer 
    entry = int (input())
    if (entry < 0):
        break 
    sum1 += entry
print("Sum =", sum1)

Enter numbers to find their sum , negaetive number endsthe loop:
345
345
234
34
3245
34
34
34
-4
Sum = 4305

In [15]:
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
    print('Num has a value' + str(num))
print('End of loop')

Num has a value1
Num has a value2
Num has a value4
Num has a value5
Num has a value6
End of loop

In [17]:
for var1 in range(3):
    print( "Iteration" + str(var1 + 1) + " of outer loop")
    for var2 in range(2): #nested loop
        print(var2 +1)
    print("out of inner loop")
print("out of outer loop")

Iteration1 of outer loop
1
2
out of inner loop
Iteration2 of outer loop
1
2
out of inner loop
Iteration3 of outer loop
1
2
out of inner loop
out of outer loop

         Name  Age  Height  Score
0    Samantha   17     5.5     80
1        Jada   16     6.0     85
2        Jane   17     5.4     70
3      Claire   18     5.9     60
4   Elizabeth   16     5.6     76
5        Mary   18     5.5     66
6       Susan   17     6.1     87
7        Waje   20     6.0     95
8      Taibat   19     5.7     50
9      Lilian   17     5.5     49
10    Charles   19     5.7     74
11       Jude   16     5.9     87
12      James   18     5.8     75
13     Kelvin   17     6.1     68
14     Biodun   20     5.9     66
15       Wale   19     5.5     78
16      Kunle   16     6.1     87
17    Matthew   18     5.4     98
18        Tom   17     5.8     54
19     Kayode   19     5.7     60

In [3]:
# python program to swap two cities 

#to take inputs from the user
city_1 = input('Enter name of the city 1: ')
city_2 = input('Enter name of city 2: ')

#create a temporary variable and swap the cities 
temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of the city 1 after swapping is {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

Enter name of the city 1: # program to check if a number is positivee, negative
Enter name of city 2: sdfg
The name of the city 1 after swapping is sdfg
The name of city 2 after swapping is # program to check if a number is positivee, negative

In [ ]:
# program to check if a number is positivee, negative   or 0 
num = float(input("enter a number: "))
if num > 0:
    print("positive number")
elif num == 0:
    print("zero")
else:
    print("negative number")

In [ ]:
# coupe de escriva football picks 
print("welcome to the coupe de escriva 2023: football pics \n")      

captain = {'maDIBA: ': 'CHUBBY obiora-okafo',}