In [1]:
import pandas as pd

# Girls' data
girls_names = ["Samantha", "Jada", "Jane", "Claire", "Elizabeth", "Mary", "Susan", "Waje", "Taibat", "Lilian"]
girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girls_scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys' data
boys_names = ["Charles", "Jude", "James", "Kelvin", "Biodun", "Wale", "Kunle", "Matthew", "Tom", "Kayode"]
boys_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boys_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boys_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

# Create a dictionary
data = {
    "Name": girls_names + boys_names,
    "Age": girls_age + boys_age,
    "Height": girls_height + boys_height,
    "Score": girls_scores + boys_scores
}

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

         Name  Age  Height  Score
0    Samantha   17     5.5     80
1        Jada   16     6.0     85
2        Jane   17     5.4     70
3      Claire   18     5.9     60
4   Elizabeth   16     5.6     76
5        Mary   18     5.5     66
6       Susan   17     6.1     87
7        Waje   20     6.0     95
8      Taibat   19     5.7     50
9      Lilian   17     5.5     49
10    Charles   19     5.7     74
11       Jude   16     5.9     87
12      James   18     5.8     75
13     Kelvin   17     6.1     68
14     Biodun   20     5.9     66
15       Wale   19     5.5     78
16      Kunle   16     6.1     87
17    Matthew   18     5.4     98
18        Tom   17     5.8     54
19     Kayode   19     5.7     60